extends layout/layout
block content
    section.centerfix.homepage-slider-wrapper
        .container
            .owl-carousel.homepage-slider
                .item
                    .content
                        h3.title.title-third Faizsiz finansman sektörünün lideri!
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    img.desktop(src=prefix+"/img/slider-1.jpg")
                    img(src=prefix+"/img/slider-1-mobile.jpg")

                .item
                    .content
                        h3.title.title-third Faizsiz finansman sektörünün lideri! 2
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    img(src="https://place-hold.it/1170x595")


    section.centerfix#kimiz.about-us
        .container
            .row
                .col-12
                    h4.title.title-second.text-white KOLO REAL ESTATE
                    h3.title.title-primary.text-white Biz Kimiz?
                .col-12
                    figure
                        img(src=prefix+"/img/about.jpg")

                .col-12
                    .content
                        .row
                            .col-12.col-md-6
                                p.blockquote VBTT, bir diğer adı ile ‘’Referans/Tavsiye’’ usulü ile satış birimidir.
                            .col-12.col-md-6
                                p Alışılagelmiş reklam yöntemlerinden farklı olarak dostluğa ve güvene dayalı referans-tavsiye satışı faizsiz finansman sektörünün lideri olan şirketimiz için son derece önem taşımaktadır.



    section.centerfix#vizyonumuz.box-content.ltr
        .container
            .row
                .col-12.col-md-6.order-2.order-md-1
                    .content
                        .center
                            h4.title.title-second KOLO REAL ESTATE
                            h3.title.title-primary Vizyonumuz
                            p Kalite ile tasarımı bir arada sunduğu yaşam alanlarıyla sektörde akla gelen ilk emlak firması olmak.

                .col-12.col-md-6.img.order-1.order-md-2
                    figure
                        img(src=prefix+"/img/vizyon.jpg")


    section.centerfix#misyonumuz.box-content
        .container
            .row
                .col-12.col-md-6.img
                    figure
                        img(src=prefix+"/img/misyon.jpg")
                .col-12.col-md-6
                    .content
                        .center
                            h4.title.title-second KOLO REAL ESTATE
                            h3.title.title-primary Misyon
                            p Her zaman keşfedilmemiş olanı bulmaya yönelik bakış açısıyla ayrıcalıklı yaşam alanları sunmak.
                            p Keşfedilmemiş beklentileri karşılayan, ulaşılabilir yaşam alanları tasarlamak, sunmak ve mutluluk yaymak.

    section.centerfix#amac
        .container
            h4.title.title-second KOLO REAL ESTATE
            h3.title.title-primary Amaç

            .row
                .col-12.col-md-6
                    p Güçlü altyapımız ile profosyonel, yenilikçi, değişime açık, Kolo Real Estate, Kolo Holding bünyesi altında yer alan değerli birikimlerinizi mutlu yuvalara çeviren bir gayrimenkul markasıdır. En ince detayına kadar düşünülüp tasarlanan yaşam alanlarını siz değerli müşterilerimize sunarak yaşam standartlarını en üst seviyeye çıkarmayı hedeflemektedir. Bu hedefle çıktığı yolda kısa sürede büyük işlere imza atmıştır. Beklentileri en uygun biçimde şekillendirerek yaptığı tasarımlar ile gayrimenkul sektörüne yeni bir soluk kazandırmıştır. Kolo Real Estate, projerinde en ince ayrıntılarda bile tasarımı ve kaliteyi ön planda tutmaktadır. İçinde yaşadığımız topluma sosyal, kültürel, çevresel ve ekonomik fayda sağlayarak, daha iyi bir toplum için sorumluluklarımızın bilincinde hareket ederek, oluşturduğumuz duyarlılık ile toplumda fark ve farkındalık yaratmayı hedeflemektedir.
                .col-12.col-md-6
                    p Çalışanlarımıza yatırım yaparak tüm aile üyelerimizin beklentilerini karşılamak, teknoloji odaklı çalışmalarımızla ürünlerimizi sürekli değişim içerisinde olan dünyamıza entegre ederek en güncel, yenilikçi ve gelişime açık hizmetleri sunarak en iyi olma ilkesini benimsedik. Elde ettiğimiz başarıyı sürdürülebilir kılmak, verimi her zaman en üst seviyeye çıkarmak tüm aile bireylerimizin ihtiyaçları doğrultusunda çalışmalarımıza yön vererek memnuniyetlerini her zaman beklentilerin üzerine çıkarmak her zaman ana odağımız olmuştur.