extends layout/layout_vbtt
block content
    section.centerfix.homepage-slider-wrapper
        .container
            .owl-carousel.homepage-slider
                .item
                    .content
                        h3.title.title-third Faizsiz finansman sektörünün lideri!
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    img.desktop(src=prefix + "/img/slider-1.jpg")
                    img(src=prefix + "/img/slider-1-mobile.jpg")

                .item
                    .content
                        h3.title.title-third Faizsiz finansman sektörünün lideri! 2
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    img(src="https://place-hold.it/1170x595")


    section.centerfix#kimiz.about-us
        .container
            .row
                .col-12
                    h4.title.title-second.text-white KOLO REAL ESTATE
                    h3.title.title-primary.text-white Biz Kimiz?
                .col-12
                    figure
                        img(src=prefix+"/img/about.jpg")

                .col-12
                    .content
                        .row
                            .col-12.col-md-6
                                p.blockquote VBTT, bir diğer adı ile ‘’Referans/Tavsiye’’ usulü ile satış birimidir.
                            .col-12.col-md-6
                                p Alışılagelmiş reklam yöntemlerinden farklı olarak dostluğa ve güvene dayalı referans-tavsiye satışı faizsiz finansman sektörünün lideri olan şirketimiz için son derece önem taşımaktadır.


    section.centerfix#vizyonumuz.box-content.ltr
        .container
            .row
                .col-12.col-md-6.order-2.order-md-1
                    .content
                        .center
                            h4.title.title-second KOLO REAL ESTATE
                            h3.title.title-primary Vizyonumuz
                            p Kalite ile tasarımı bir arada sunduğu yaşam alanlarıyla sektörde akla gelen ilk emlak firması olmak.

                .col-12.col-md-6.img.order-1.order-md-2
                    figure
                        img(src=prefix + "/img/vizyon.jpg")


    section.centerfix#misyonumuz.box-content
        .container
            .row
                .col-12.col-md-6.img
                    figure
                        img(src=prefix + "/img/misyon.jpg")
                .col-12.col-md-6
                    .content
                        .center
                            h4.title.title-second KOLO REAL ESTATE
                            h3.title.title-primary Misyon
                            p Her zaman keşfedilmemiş olanı bulmaya yönelik bakış açısıyla ayrıcalıklı yaşam alanları sunmak.
                            p Keşfedilmemiş beklentileri karşılayan, ulaşılabilir yaşam alanları tasarlamak, sunmak ve mutluluk yaymak.

    section.centerfix#degerlerimiz
        .container
            h3.title.title-primary Değerlerimiz
            .row
                .col-12.top-desc
                    p Kolo Holding’in distribütörlüğünü yaptığı tüm ürünlerin reklam ve tanıtım süreçlerini organize ederek oluşturmuş olduğu ağ ile satışını gerçekleştirmek.

            .row.justify-content-center
                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-adalet.svg")

                    h6.title Adaletliyiz
                    p VBTT olarak, işimizde hakkaniyet ve eşitlik duygusu ile hareket eden büyük bir aileyiz.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-insan-odakli.svg")

                    h6.title İnsan Odaklıyız
                    p Tüm enerjimizi insan hayatını iyileştirmeye adarız. Hem tasarruf temsilcilerimiz, hem müşterilerimiz hem de edindiğimiz değerler ile hayatlarına dokunduğumuz tüm insanların mutluluğu ve gelişimi her zaman önceliğimizdir.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-gonul.svg")

                    h6.title Gönülden Çalışıyoruz
                    p Şartlar ne olursa olsun kurumumuz, değerlerimiz, hedeflerimiz ve insan hayatına değer katacağına inandığımız tüm projelerimiz için gönülden çalışırız.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-yenilik.svg")

                    h6.title Yenilikçiyiz
                    p Yeni fikirleri dinler, insan hayatına ve şirketimize değer katacak projeler üretir, çözümlerimizi ve iş modellerimizi sürekli geliştirir, bizi farklılaştıracak olanı buluruz.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-dinamik.svg")

                    h6.title Dinamiğiz
                    p Koşulların gerektirdiği esneklik ve seri olma yeteneğine sahibiz.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-surdurulebilir.svg")

                    h6.title Sürdürülebilir Projelere Sahibiz
                    p Kesintisiz ve uzun vadeli başarıya önem verir, çevremiz için sorumlu davranırız.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-paylasim.svg")

                    h6.title Birlikte Kazanmayı ve Paylaşımcılığı Destekleriz
                    p Kazancımızı paylaşmak, paylaştıkça büyümek, büyüdükçe elde ettiğimiz güç ve imkânlar ile daha geniş olanaklar sunarız.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-girisimcilik.svg")

                    h6.title Girişimciliğe Önem Veririz
                    p Her bir Tasarruf Temsilcimiz bizim nezdimizde bir girişimci adayıdır. Bu düşünce ile Tasarruf Temsilcilerimizin her alanda gelişimine önem veririz.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-doga.svg")

                    h6.title Doğamıza Karşı Duyarlıyız
                    p Attığımız her adımda yarınlarımızı düşünerek hareket eder, gereksiz israftan kaçınırız. Tasarrufu hayatımızın her alanında uygularız.

                .col-12.col-sm-6.col-md-4.list-item
                    figure.icon
                        img(src=prefix+"/img/icons/icon-yasalar.svg")

                    h6.title Yasalara Bağlıyız
                    p Kazancınız yasal güvence altındadır.
