.homepage-slider-wrapper {
  padding: 140px 0 85px;

  .item {
    @include centerfix;
    height: 520px;
    overflow: hidden;

    img {
      @include center(true, false);
      bottom: 0;
      max-width: 100%;
      min-width: 375px;
      min-height: 100%;
      z-index: 1;

      @include minBreakpoint($phablet) {
        @include center(true, true);
        height: 100%;
        min-width: auto;
        max-width: inherit;
        min-height: auto;
        width: auto;
      }

      &:not(.desktop) {
        display: block;
      }
      &.desktop {
        display: none;
      }
    }

    @include minBreakpoint($phablet) {
      height: 595px;

      img {
        &:not(.desktop) {
          display: none;
        }
        &.desktop {
          display: block;
        }
      }
    }
  }

  .content {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    z-index: 2;

    @include minBreakpoint($phablet) {
      @include center(false, true);
      margin-top: -50px;
      width: 50%;
      right: auto;
      left: 90px;
    }

    .title {
      margin-bottom: 25px;
    }

    p {
      font-size: 14px;
    }
  }
}

.about-us {
  margin-bottom: 50px;

  .title {
    padding-left: 50px;

    @include minBreakpoint($phablet) {
      padding-left: 90px;
    }
  }

  figure {
    img {
      max-width: 100%;
    }
  }

  .content {
    background: $white;
    padding: 50px;

    @include minBreakpoint($phablet) {
      padding: 90px;
    }

    .blockquote {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.75px;
      color: $black;
      padding-left: 33px;
      border-left: solid 3px #e3211d;
    }
  }
}

.box-content {
  margin-bottom: 50px;

  &.ltr {
    @include minBreakpoint($phablet) {
      .content {
        margin-right: -16px;
      }
      .img {
        padding-left: 0;
      }
    }
  }

  &:not(.ltr) {
    @include minBreakpoint($phablet) {
      .content {
        margin-left: -16px;
      }
      .img {
        padding-right: 0;
      }
    }
  }

  .content {
    height: 100%;
    background: $white;
    display: flex;
    align-items: center;
    padding: 50px;

    @include minBreakpoint($phablet) {
      padding: 0 90px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .img {
    figure {
      position: relative;
      overflow: hidden;

      @include minBreakpoint($phablet) {
        min-height: 500px;
      }

      img {
        max-width: 100%;

        @include minBreakpoint($phablet) {
          @include center(true, true);
          max-width: inherit;
          max-height: 120%;
        }
      }
    }

  }
}

#amac {
  padding: 130px 50px;
  background-color: $white;
}

#degerlerimiz {
  padding: 50px;

  @include minBreakpoint($phablet) {
    .title-primary, .top-desc {
      text-align: center;
    }
  }
}

.list-item {
  margin-bottom: 30px;
  text-align: center;

  @include minBreakpoint($phablet) {
    min-height: 350px;
  }

  .icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: rgba(227, 33, 29, 0.07);
    border-radius: 50%;
    margin-bottom: 18px;

    img {
      @include center(true, true);
      max-height: 80%;
      max-width: 80%;
    }
  }

  .title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: $black;
    margin-bottom: 8px;
  }

  p {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ababb6;
  }
}