- var prefix = "./public/dist";
<!DOCTYPE html>
html(lang="tr")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Kolo Holding
        meta(name="description", content="Kolo Holding")
        meta(name="keywords", content="Kolo Holding")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        meta(name="format-detection", content="telephone=no")
        link(rel="shortcut icon", type="image/x-icon", href=prefix + "/img/favicon/favicon.ico")
        link(rel="apple-touch-icon", href=prefix + "/img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="72x72", href=prefix + "/img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="114x114", href=prefix + "/img/favicon/apple-icon-114x114.png")
        link(rel="stylesheet", href=prefix + "/css/style.css")

    body.white-page
        header#header
            .container
                a(href="index.html")
                    figure.logo-no-hover
                        img(src=prefix+"/img/vbtt-logo.png" alt="kolo holding logo")

                button.toggle-menu.d-flex.d-md-none MENÜ
                    .icon
                        span
                        span
                        span

                nav.main-menu
                    ul
                        li
                            a(href="#kimiz") KİMİZ
                        li
                            a(href="#vizyonumuz") VİZYONUMUZ
                        li
                            a(href="#misyonumuz") MİSYONUMUZ
                        li
                            a(href="#degerlerimiz") DEĞERLERİMİZ

                    .address Küçükbakkalköy Mahallesi, Vedat Günyol Caddesi No:8 Ataşehir 34750 İstanbul
                        a(href="tel:02124002020") 0212 400 2020


        main#main
            block content

        footer#footer
            .container
                .row.d-flex
                    .col-6.col-md-2.landing-logo
                        img(src=prefix+"/img/vbtt-logo.png")
                    .col-12.col-md-3.address Küçükbakkalköy Mahallesi, Vedat Günyol Caddesi No:8 Ataşehir 34750 İstanbul
                        a.text-red(href="tel:02124002020") 0212 400 2020
                    .nav.footer-menu.col-4.d-none.d-md-flex.offset-1
                        ul
                            li
                                a(href="#kimiz") KİMİZ
                            li
                                a(href="#vizyonumuz") VİZYONUMUZ
                            li
                                a(href="#misyonumuz") MİSYONUMUZ
                            li
                                a(href="#degerlerimiz") DEĞERLERİMİZ

                    .col-12.col-md-2.kolo-logo
                        img(src=prefix+"/img/kolo-holding-logo-black.svg")

        script(type="text/javascript", src=prefix + "/js/bundle.js")
        block scripts

