#footer {
  @include centerfix;
  z-index: 1;
  padding: 30px 50px;
  border-top: solid 1px #ededed;

  @include minBreakpoint($phablet) {
    padding: 130px 0;
  }

  .address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: $white;
    margin-bottom: 60px;

    a {
      display: block;
      margin-top: 30px;
      color: $white;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.86px;
    }
  }

  .footer-menu {
    margin-bottom: 60px;

    ul {
      display: block;

      li {
        display: block;
        margin-bottom: 30px;

        a {
          display: block;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.14;
          letter-spacing: 0.5px;
          color: $white;
        }
      }
    }
  }

  .landing-logo {
    margin-bottom: 60px;
    img {
      height: 35px;

      @include minBreakpoint($phablet) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .kolo-logo {
    display: flex;

    @include minBreakpoint($phablet) {
      align-items: flex-start;
      justify-content: flex-end;
    }

    img {
      height: 70px;
      @include minBreakpoint($phablet) {
        height: auto;
      }
    }
  }
}


.white-page {
  #footer {
    .address {
      color: $black;
    }

    .footer-menu {
      ul {
        li {
          a {
            color: $black;
          }
        }
      }
    }
  }
}