#header {
  position: fixed;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  z-index: 9;
  transition: all $animation_speed $animation_easing;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &.fixed {
    height: 83px;
    box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;

    .logo {
      img:not(.black) {
        opacity: 0;
      }

      .black {
        opacity: 1;
      }
    }

    .logo, .logo-no-hover {
      height: 50px;
    }

    .main-menu {
      li {
        a {
          color: $blue;
        }
      }
    }
  }

  .logo {
    position: relative;
    z-index: 4;
    height: 50px;

    @include minBreakpoint($phablet) {
      height: 70px;
    }

    img {
      transition: all $animation_speed $animation_easing;
      height: 100%;
    }

    .black {
      @include center(true, true);
      opacity: 0;
    }
  }

  .logo-no-hover {
    position: relative;
    z-index: 4;
    height: 50px;

    @include minBreakpoint($phablet) {
      height: 70px;
    }

    img {
      max-height: 100%;
      transition: all $animation_speed $animation_easing;
    }
  }

  .toggle-menu {
    @include center(false, true);
    right: 30px;
    font-size: 14px;
    letter-spacing: 1.96px;
    color: $blue;
    font-weight: 400;
    padding: 19px 70px 19px 25px;
    background: $white;
    border: none;
    z-index: 4;
    transition: all $animation_easing $animation_speed;
    outline: none;
    overflow: hidden;

    @include minBreakpoint($phablet) {
      right: 55px;
    }

    &.active {
      .icon {
        span {
          margin-right: 0 !important;
          transform-origin: 1px 10px;

          &:nth-child(1) {
            transform: rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(45deg);
          }
        }
      }
    }

    .icon {
      @include center(false, true);
      right: 25px;
      display: flex;
      justify-content: space-between;

      span {
        width: 2px;
        height: 24px;
        background: $blue;
        transition: all $animation_easing $animation_speed;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .main-menu {
    display: flex;

    &.active {
      transform: translateY(0%);
    }

    @include breakpoint($phablet) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 3;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      transition: all $animation_easing $animation_speed;

      ul {
        flex-direction: column;
        text-align: center;
      }
    }

    ul {
      display: flex;

      li {
        &:not(:first-child) {
          @include minBreakpoint($phablet) {
            margin-left: 40px;
          }
        }

        a {
          display: block;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.14;
          letter-spacing: 0.5px;
          color: $blue;
          padding: 15px 10px;

          @include minBreakpoint($phablet) {
            color: $white;
            font-size: 14px;
          }
        }

      }
    }

    .address {
      @include center(true, false);
      display: block;
      bottom: 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.44px;
      text-align: center;
      color: $blue;

      @include minBreakpoint($phablet) {
        display: none;
      }

      a {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: $blue;
        margin-top: 15px;
      }
    }
  }

}

.white-page {
  #header {
    .main-menu {
      ul {
        li {
          a {
            color: $blue;
          }
        }
      }
    }
  }
}