body {
  &:not(.white-page) {
    background: radial-gradient(circle at 0 0, #174d7c, #05233d 53%) $blue;
    background-repeat: no-repeat;
  }
}

#main {
  @include centerfix;
  min-height: 600px;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $black;

  p {
    margin-bottom: 30px;
  }
}

.centerfix {
  @include centerfix;
}

.container {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mr15 {
  margin-right: 15px;
}

.mtb15 {
  margin: 15px 0;
}

.mb40 {
  margin-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt100 {
  margin-top: 100px;
}

.clear {
  margin: 0 !important;
}

.width100 {
  width: 100%;
}

.b {
  font-weight: 700;
}

.light {
  font-weight: 300 !important;
}

.i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: $white !important;
}

.text-red {
  color: $red !important;
}