/*Button css*/
.button {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  transition: all $animation_easing $animation_speed;

  &-primary {
    line-height: 47px;
    background: $blue;
    color: $white;
    text-align: center;
    font-family: $font_primary;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.18px;
    padding: 0 40px;

    &:hover {
      background: $white;
      color: $blue;
    }
  }
}