/*Title css*/
.title {
  display: block;
  border: none;
  outline: none;
  font-family: $font_primary;

  &-primary {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: $black;
    margin-bottom: 40px;
  }

  &-second {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: $black;
    font-family: 'Verdana';
    margin-bottom: 10px;
  }

  &-third {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.75px;
    color: $black;

    @include minBreakpoint($phablet) {
      font-size: 48px;
    }
  }
}